/*================= Fonts imports  =================*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap');

/*================= Predefined styles =================*/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*================= Variables -  Colors =================*/
$light-grey: rgba(0, 0, 0, 0.12);
$grey: #929FA5;

$white: #fefefe;

$blue : #16ACC9;
$dark-blue: #031519;

$yellow: #D3DB4B;

/*================= Variables -  Typos =================*/
$primary-font: 'Merriweather Sans', sans-serif;

/*================= Main CSS =================*/
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $dark-blue;
    font-family: $primary-font;
    font-size: 16px;
}

header {
    @extend .flex-center;
    flex-direction: column;
    padding: 2rem;
    background-color: $blue;
    color: $white;

    h1 {
        margin-bottom: 0;
    }

    small {
        margin-bottom: 1rem;
    }

    .search {
        position: relative;
        z-index: 2;

        @media screen and (min-width: 768px) {
            width: 40%;
        }
    }

    .searchbar {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 3rem;
        padding: 0 1rem;
        border: none;
        outline: none;
        transition: all .3s;

        &:focus {
            color: $white;
            background-color: $dark-blue;
        }
    }

    .autocomplete-results {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        max-height: 300px;
        overflow-y: scroll;
        margin: .3rem 0 0 0;
        padding: 0;
        opacity: 0;
        background-color: $dark-blue;
        list-style-type: none;
        transition: all .2s
    }

    .autocomplete-result {
        color: $white;
        padding: 1rem;
        &:hover {
            background: $blue;
            cursor: default;
        }
    }

    .show-autocomplete {
        z-index: 9;
        transform: translateY(3rem);
        opacity: 1;
    }
}

main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.characters {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 960px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .8rem;
    }

    .character-card {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        background-color: $white;
        color: $dark-blue;
        border-radius: .3rem;
        overflow: hidden;

        @media screen and (min-width: 960px) {
            flex-direction: row;
        }
    }

    .character-details {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .character-species {
        margin-bottom: .5rem;
        font-size: .8rem;
    }

    .character-location-wrapper,
    .character-episode-wrapper {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }

    .character-location-label,
    .character-episode-label {
        margin-bottom: .3rem;
        font-weight: 300;
    }
}

.no-results {
    display: none;
    color: $white;
}

.load-more-btn {
    padding: .5rem;
    background-color: $blue;
    border: 2px solid $dark-blue;
    font-family: $primary-font;
    color: $white;
    cursor: pointer;
}

footer {
    @extend .flex-center;
    background-color: $dark-blue;
    color: #fff;

    & a {
        color: #fff;
    }

}

